@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  @apply bg-slate-50 text-slate-900 dark:bg-slate-950 dark:text-slate-50;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
